~old_grp11Ccompiler/main

~old_grp11Ccompiler/compiler/build/*.o

~old_grp11Ccompiler/compiler/build/helpers/*.o

sample_program

~roughwork

scanner

parser*

old/compiler
old/compile

test*

.vscode

compiler.h

new

